.league-detail-container {
    background-image: url("/assets/images/detailBackground.jpg");
    background-size: cover;
    width: 100%;
    min-height: 100%;
    height: auto;
    .views {
        width: 25%;
        margin: 0 auto;
        padding-top: 1em;
        display: flex;
        button {
            cursor: pointer;
            font-size: 1.3em;
            width: 50%;
            height: 3em;
            background: white;
            color: black;
        }
        button.active {
            background: black;
            color: white;
        }
    }
    .table-info {
        width: 100%;
        margin: 0 auto;
        padding: 1em 0;
        table {
            background-color: rgba(255, 255, 255, 0.8);
            border-collapse: collapse;
            border: 2px solid black;
            border-radius: 10px;
            text-align: center;
            width: 80%;
            margin: 0 auto;
            thead {
                border-bottom: 2px solid black;
                th {
                    height: 3em;
                }
            }
            tbody {
                tr {
                    height: 2em;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
    .teams-info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .team {
            background-color: rgba(255, 255, 255, 0.8);
            border: 2px solid black;
            width: 10em;
            height: 3em;
            margin: 1em;
        }
    }
}

.return {
    position: absolute;
    cursor: pointer;
    top: 1em;
    left: 1em;
    text-transform: uppercase;
    font-size: 1em;
    height: 3em;
    width: 5em;
    color: black;
    background-color: white;
}

.return:hover {
    background-color: black;
    color: white;
}